Django==5.2.6
django-cors-headers==4.6.0
django-oidc-provider==0.8.4
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
psycopg2-binary==2.9.10
pyjwkest==1.4.2
PyJWT==2.10.1
python-dotenv==1.1.1
requests==2.32.5
cryptography>=42.0.0
